@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<header class="login-header row justify-content-center d-flex m-0">
    <div class="content rounded col-9 col-lg-3 m-auto p-4 text-center">
        <img class="img-fluid mb-4" src="~/img/avansmeals-logo.png" width="250" height="100" />

        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="alert alert-danger" asp-validation-summary="All"></div>
        }

        <form asp-action="Login" asp-controller="Account" class="row justify-content-center rounded bg-light text-start content-box-shadow">
            <div class="p-3">
                <label asp-for="Email" class="form-label fw-bold">Email address</label>
                <input asp-for="Email" type="email" class="form-control">
            </div>
            <div class="mb-3 p-3">
                <label asp-for="Password" class="form-label fw-bold">Password</label>
                <input asp-for="Password" type="password" class="form-control">
            </div>

            <button type="submit" class="btn btn-avansmeals-info">Inloggen</button>
        </form>
    </div>  
</header>



